<h1>Editing survey visit</h1>

<%= render "form", survey_visit: @survey_visit %>

<br>

<div>
  <%= link_to "Show this survey visit", @survey_visit %> |
  <%= link_to "Back to survey visits", survey_visits_path %>
</div>
