<p style="color: green"><%= notice %></p>

<h1>Homes</h1>

<div id="homes">
  <% @homes.each do |home| %>
    <%= render home %>
    <p>
      <%= link_to "Show this home", home %>
    </p>
  <% end %>
</div>

<%= link_to "New home", new_home_path %>
