<div id="<%= dom_id survey_answer %>">
  <p>
    <strong>Answer:</strong>
    <%= survey_answer.answer %>
  </p>

  <p>
    <strong>Survey response:</strong>
    <%= survey_answer.survey_response_id %>
  </p>

  <p>
    <strong>Survey question:</strong>
    <%= survey_answer.survey_question_id %>
  </p>

</div>
