<h1>Editing survey answer</h1>

<%= render "form", survey_answer: @survey_answer %>

<br>

<div>
  <%= link_to "Show this survey answer", @survey_answer %> |
  <%= link_to "Back to survey answers", survey_answers_path %>
</div>
