<div id="<%= dom_id survey_response %>">
  <p>
    <strong>Survey:</strong>
    <%= survey_response.survey_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= survey_response.user_id %>
  </p>

</div>
