<h1>Editing survey response</h1>

<%= render "form", survey_response: @survey_response %>

<br>

<div>
  <%= link_to "Show this survey response", @survey_response %> |
  <%= link_to "Back to survey responses", survey_responses_path %>
</div>
