<h1>Editing survey question</h1>

<%= render "form", survey_question: @survey_question %>

<br>

<div>
  <%= link_to "Show this survey question", @survey_question %> |
  <%= link_to "Back to survey questions", survey_questions_path %>
</div>
