name: Deploy

on:
  # https://docs.github.com/en/actions/reference/events-that-trigger-workflows
  release:
    types: [published]

env:
  REACT_APP_PUBLIC_SURVEY_ENABLED: 'false'
  REACT_APP_API_URL: https://api.bostonhpa.org
  REACT_APP_RECAPTCHA_KEY: 6LdHAxYmAAAAAHGN0eNzJhGpCrxm7FisXyZoy8cr

jobs:
  deploy-server:
    uses: ./.github/workflows/openshift.yml
    with:
      app: bhpa-backend
      context: backend
      port: 3000
    secrets: inherit
  deploy-website:
    uses: ./.github/workflows/openshift.yml
    with:
      app: bhpa-frontend
      context: frontend/front
      port: 8080
      build-args: |
        REACT_APP_RECAPTCHA_KEY=$REACT_APP_RECAPTCHA_KEY
        REACT_APP_PUBLIC_SURVEY_ENABLED=$REACT_APP_PUBLIC_SURVEY_ENABLED
        REACT_APP_API_URL=$REACT_APP_API_URL
      secrets: inherit
